@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
ul, li{list-style: none;}
em{font-style: normal;}
*{margin: 0; padding: 0;}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #2d2d2d;
    letter-spacing: -0.5px;
}
.wrap{width: 1000px; margin: 0 auto;}

.oc1{display: flex; box-shadow: 5px 5px 5px rgb(0, 0, 0,0.2); margin-top: 150px;}
.oc1 .lft{width: 45%;  text-align: center;}
.oc1 .lft h1{
    padding-top: 90px;
    padding-bottom: 40px;
}

.oc1 .lft i{
    width: 150px; height: 150px;
    background: #f7f7f7 url(/KakaoTalk_20210126_232540520_02.png) no-repeat center center;
    background-size: 110%;
    display: block;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.oc1 .lft strong{
    display: inline-block;
}
.oc1 .lft p{display: inline-block;
}
.oc1 .rht{
    background-color: #f7f7f7;
    padding: 20px;
    width: 100%;
}

.oc1 .rht ul li{margin: 20px 0;}

.oc1 .rht ul li .B{padding: 5px 0 0 20px;}

.oc1 .rht ul li i{}
.oc1 .rht ul li strong{}
.fa-check-circle{color: purple;}
.oc1 .rht ul li em{color: purple; font-weight: 800;}
.oc1 .rht ul li p{display: inline-block;}

.oc2{background-color: #fff; margin-top: 100px; text-align: center; box-shadow: 5px 5px 5px rgb(0, 0, 0,0.2);}

.oc2 h2{
    padding: 15px 0;
}
.oc2 ul{
    padding: 50px  0; 
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}
.oc2 ul li i{
    width: 80px; height: 80px;
    background: #000;
    display: inline-block;
    border-radius: 100%;
}
.oc2 ul li{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.oc2 ul li:last-child{
    margin-right: 0;
}

.oc2 ul li i.Hanz{
    background: url(/hanz.png) no-repeat center center;
    background-size: 115%;
}

.oc2 ul li i.min_a{
    background: url(min_a.png) no-repeat;
    background-size: cover;
}
